@page "/login"
@using Microsoft.JSInterop
@inject HttpClient Http
@inject IJSRuntime JS

<PageTitle>Login</PageTitle>

<h1>Login</h1>

<form @onsubmit="SubmitForm" @onsubmit:preventDefault="true">
    <div>
        <input @bind-value="Username" required placeholder="Username" autocomplete="username" autofocus />
        <input @bind-value="Password" type="password" minlength="12" required placeholder="Password" autocomplete="current-password" />
    </div>
    <div>
        <button>Login</button>
        <a href="/register">Register</a>
    </div>
</form>

@code {
    private string? Username;
    private string? Password;

    private async Task SubmitForm()
    {
        var response = await Http.PostAsJsonAsync("/api/login", new
        {
            Username,
            Password,
        });

        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Logged in!");
        }
        else
        {
            Console.WriteLine("Try again!");
        }
    }
}