@import 'vars.css';

dl {
    margin: 0 0 1rem;
}

dl dt {
    font-weight: bold;
    display: inline-block;
    text-decoration: underline;
}

dl dd {
    margin: 0 0 .25rem;
    padding: .5rem 0;
    min-height: 1rem;
}

details {
    background: none;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    padding: .5rem;
}

details>summary {
    cursor: pointer;
}

details+details {
    border-top: none;
}

details[open]>summary {
    padding: 0 0 .5rem;
    margin: 0 0 .5rem;
}

hr {
    border-style: none;
    border-bottom-style: solid;
}

/* Content blocks */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: 1rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 1rem;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

h4,
h5,
h6 {
    font-weight: bold;
}

/* main::-webkit-scrollbar {
    background-color: #eeeeee66;
    box-shadow: 0 0 2px #66666666 inset;
}

main::-webkit-scrollbar-button {
}

main::-webkit-scrollbar-track {
}

main::-webkit-scrollbar-thumb {
    background-color: #66666666;
} */

/* Links and link-like */

a,
button {
    background: var(--a-bg);
    color: var(--a-fg);
    opacity: .9;
    text-decoration: none;
}

button {
    display: inline;
    margin: 0;
    padding: 0;
}

a:disabled,
button:disabled {
    opacity: .6;
}

a:hover,
button:hover {
    opacity: 1;
}

/* Clickables */

a,
button,
label,
[role=button] {
    cursor: pointer;
}

label {
    display: inline-block;
}

form>label {
    display: block;
}

form>button,
.button {
    background: var(--input-bg);
    border-style: var(--b-style);
    box-shadow: var(--shadow-sm);
    cursor: pointer;
    padding: var(--25) var(--100);
}

.button:active,
.button:focus,
.button:hover {
    background: var(--input-bg-active);
}

button.button[type=submit],
button.button:not([type]) {
    font-weight: bold;
}

/* Input */

/* Hide input up/down arrows in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Hide input up/down arrows in Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input,
select,
textarea,
.input {
    background: var(--input-bg);
    border-style: solid;
    color: var(--input-fg);
    display: inline-block;
    padding: var(--25);
    text-align: inherit;
    width: 100%;
}

.resize-0 {
    resize: none;
}

input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover,
.required:focus,
.required:hover {
    background: var(--input-bg-active);
}

input:required,
input:invalid,
select:required,
select:invalid,
textarea:required,
textarea:invalid,
.required {
    background-image: url('required.svg');
    background-repeat: no-repeat;
    background-position: 1px 1px;
}

input:disabled,
select:disabled,
textarea:disabled {
    background: var(--input-bg-muted);
}

input[type=checkbox],
input[type=radio] {
    box-shadow: none;
    cursor: pointer;
    min-width: unset;
    width: unset;
}

input[type=date] {
    padding-top: 0;
    padding: .25rem .25rem .15rem;
}

input[type=file] {
    cursor: pointer;
}

select {
    padding-right: 0;
}

fieldset {
    margin: 0 0 1rem 0;
    min-width: 0;
    padding: 0 .5rem .5rem;
}

fieldset legend {
    border: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    line-height: inherit;
    margin-bottom: .5rem;
    margin-left: -.4rem;
    padding: .1rem .4rem .2rem;
    white-space: normal;
    width: auto;
}

/* Table */

table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
}

th {
    padding: .25rem .125rem;
    vertical-align: bottom;
}

td {
    padding: .125rem;
    vertical-align: top;
}

tr:hover,
td:hover {
    border-top-color: var(--sky-400);
    border-bottom-color: var(--sky-400);
}

tbody>tr:first-child>td {
    padding-top: .25rem;
}

tbody>tr:last-child>td {
    padding-bottom: .25rem;
}

thead {
    text-align: center;
}

thead th {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

tfoot {}

tfoot th {
    border-top-style: solid;
    border-top-width: 1px;
}

table.bordered,
table.bordered th,
table.bordered td {
    border-style: solid;
    border-width: .4px;
}