@import 'colors.css';

:root {
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --mono-font-family: 'SF Mono', 'Monaco', 'Inconsolata', 'Fira Mono', 'Droid Sans Mono', 'Source Code Pro', monospace;
    --mono-font-size: 11pt;

    --outline-color: hsla(200, 100%, 36%, 0.25);

    --bg: hsl(0, 0%, 93%);
    --bg-active: hsl(0, 0%, 96%);
    --bg-muted: hsl(0, 0%, 85%);
    --fg: hsl(0, 0%, 13%);

    --fg-info: var(--teal-500);
    --fg-success: var(--green-600);
    --fg-warning: var(--amber-500);
    --fg-error: var(--red-500);

    --b-color: hsl(0, 0%, 75%);
    --b-style: solid;
    --b-width: 1px;

    --2-bg: hsl(0, 0%, 97%);
    --2-bg-active: hsl(0, 0%, 100%);
    --2-bg-muted: hsl(0, 0%, 93%);
    --2-fg: var(--fg);

    --a-bg: transparent;
    --a-fg: hsl(200, 100%, 36%);

    --input-bg: var(--2-bg);
    --input-bg-active: var(--2-bg-active);
    --input-bg-muted: var(--2-bg-muted);
    --input-fg: var(--2-fg);

    --25: .25rem;
    --50: .5rem;
    --100: 1rem;
    --200: 2rem;

    --25-: -.25rem;
    --50-: -.5rem;
    --100-: -1rem;
    --200-: -2rem;

    --200px: 200px;
    --400px: 400px;
    --800px: 800px;
    --1200px: 1200px;

    --shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
    --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

@media (prefers-color-scheme: dark) {
    :root {
        --outline-color: hsla(200, 100%, 62%, 0.25);

        --bg: hsl(0, 0%, 7%);
        --bg-active: hsl(0, 0%, 4%);
        --bg-muted: hsl(0, 0%, 15%);
        --fg: hsl(0, 0%, 87%);

        --b-color: hsl(0, 0%, 25%);

        --2-bg: hsl(0, 0%, 8%);
        --2-bg-active: hsl(0, 0%, 3%);
        --2-bg-muted: hsl(0, 0%, 13%);

        --a-fg: hsl(200, 100%, 62%);

        --shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.25);
    }
}