.blueprint-designer {
    position: relative;
    width: 5000px;
    height: 5000px;
    overflow: auto;
    --blueprint-primary-rgb: var(--bs-primary-rgb, 13,110,253);
}

    .blueprint-designer button {
        background: none;
        border: none;
        padding: unset;
    }

.blueprint-template-picker {
    display: none;
    border: 1px solid;
    border-radius: 5px;
    position: absolute;
    padding: 10px;
    background: #fffe;
    width: 200px;
    box-shadow: 0 5px 5px #0001;
}

    .blueprint-template-picker.active {
        display: block;
    }

    .blueprint-template-picker button {
        display: block;
        background: none;
        border: none;
        padding: unset;
        color: rgb(var(--blueprint-primary-rgb));
    }

        .blueprint-template-picker button:hover {
            color: rgba(var(--blueprint-primary-rgb),.8);
        }

.blueprint-svg-container {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.blueprint-svg {
    width: 100%;
    height: 100%;
}

.blueprint-connection {
    cursor: pointer;
    pointer-events: all;
}

.blueprint-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.blueprint-node {
    border: 1px solid;
    border-radius: 5px;
    position: absolute;
    padding: 10px;
    background: #fffe;
    width: 200px;
    box-shadow: 0 5px 5px #0001;
}

.blueprint-node-header {
    font-weight: bold;
    border-bottom: 1px solid;
    cursor: grab;
    padding-bottom: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blueprint-node-remove {
    float: right;
}

.blueprint-node.is-moving .blueprint-node-header {
    cursor: grabbing;
}

.blueprint-port {
    clear: both;
}

.blueprint-port-icon {
    color: rgb(var(--blueprint-primary-rgb));
}

.blueprint-port-kind-Source {
    float: right;
    text-align: right;
}

.blueprint-port-kind-Target {
    float: left;
}

.blueprint-connection {
    stroke: rgb(var(--blueprint-primary-rgb));
    stroke-width: 2;
}
